<div class="container">
  <h1 id="contactHead">Contact</h1>

  <div id="namehead">

    <h2>Name: </h2>

    <p>Isac Gustavsson.</p>

  </div>

  <div id="phonehead">
    <h2>Phone:</h2>

    <p>+46 123 123 123</p>

  </div>

  <div id="emailhead">
    <h2>Email:</h2>

    <p>isachk@icloud.com</p>

  </div>

  <div id="instaHead">
    <h2>Instagram:</h2>

    <p>isaac.gustavsson</p>
  </div>
</div>