<div class="container">
  <h1 id="logHead">Login.</h1>
</div>

<div class="formWrapper">
  <form id="logForm" class="form" action="/login" method="post">
    <label for="username">Username</label>
    <input
      type="text"
      id="username"
      name="username"
      placeholder="input required..."
      required="required"
    />
    <label for="password">Password</label>
    <input
      type="password"
      id="password"
      name="password"
      placeholder="input required..."
      required="required"
    />
    <br />
    <input type="submit" value="Login" />
  </form>
</div>

.
<div id="regBox">
  <h4>Don't have an account?</h4>
  <a id="reglink" href="/register">Register New User here.</a>
</div>