<div class="container">
  <h1 id="regHead">Register</h1>
</div>

<div class="formWrapper">
  <form id="regForm" class="form" action="../register" method="post">
    <label for="username">username:</label>
    <input type="text" id="username" name="username" required="required" />
    <br />
    <label for="password">password:</label>
    <input type="password" id="password" name="password" required="required" />
    <br />
    <input type="submit" value="Register." />
  </form>
</div>